/Downloads/
/MEGA/
/R/
/anaconda3/
/flutter/
/.pub-cache/
/curso_c2_alura/
/curso_progbr/
/jogo-da-memoria/
/jogo-da-velha/
/material_ciencia_de_dados/
/material_inteligencia_artificial/
/project-manga/
/.pki/
/.ssh/
/.vscode/
/.yarn/
/.gnome/
/.ipython/
/.jupyter/
/.local/
/.mozilla/
/.config/qBittorrent/
/.config/rstudio/
/.npm/
/.fltk/
/.bin/
/.conda/
/.cargo/
/.cache/
/.python_history
/.screenrc
/.viminfo
/.wget-hsts
/.xinitrc
/.xsession
/.xsessionrc
/.yarnrc
/.zcompdump-breakcore-5.8.1
/.zsh_history
/.gitconfig
/.gksu.lock
/.gtkrc-2.0
/.lesshst
/.luarc.json
/.notion-enhancer
/.config/systemsettingsrc
/.dmrc
/.face
/.fehbg
/.Rhistory
/.Xauthority
/.Xresources
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bashrc.bak
/.config/.vscode/
/.config/arcolinux-tweak-tool/
/.config/arcolinux-welcome-app/
/.config/arcolinux-logo/
/.config/arcologout/
/.config/autostart/
/.config/chromium/
/.config/Code/
/.config/conky/
/.config/cutefishos/
/.config/dconf/
/.config/discord/
/.config/eog/
/.config/fish/
/.config/fontconfig/
/.config/font-manager/
/.config/GIMP/
/.config/galculator/
/.config/google-chrome/
/.config/gpick/
/.config/gconf/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/htop/
/.config/JetBrains/
/.config/kde.org/
/.config/Kvantum/
/.config/libreoffice/
/.config/lvim/
/.config/menus/
/.config/nano/
/.config/nitrogen/
/.config/neofetch/
/.config/nomacs/
/.config/notion-app-enhanced/
/.config/obs-studio/
/.config/opera/
/.config/pamac/
/.config/paru/
/.config/pdfarranger/
/.config/plank/
/.config/pipewire/
/.config/plasma-workspace/
/.config/pulse/
/.config/qBittorrent/
/.config/qt5ct/
/.config/R/
/.config/ristretto/
/.config/rofi/
/.config/rofi.brokencore/
/.config/rstudio/
/.config/RStudio/
/.config/sublime-text/
/.config/spotify/
/.config/Thunar/
/.config/vlc/
/.config/variety/
/.config/volumeicon/
/.config/xfce4/
/.config/xviewer/
/.config/yarn/
/.config/yay/
/.config/okularrc
/.config/kactivitymanagerdrc
/.config/kglobalshortcutsrc
/.config/kwinrc
/.config/mimeapps.list
/.config/pavucontrol.ini
/.config/QtProject.conf
/.config/Trolltech.conf
/.config/systemsettingsrc
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/yad.conf
/.config/BraveSoftware/
/.config/terminology/
/.elementary/
/.steam/
/.steampath
/.steampid
/.config/archlinux-betterlockscreen/
/.config/archlinux-logout/
/.config/archlinux-tweak-tool/
/.nvm/
/.zcompdump
/.zsh/
/mess_age/
/package-lock.json
/.config/configstore/
/.config/cef_user_data/
/.config/whatsapp-nativefier-d40211/
/eclipse-workspace/
/.codetogether/
/.config/JetBrains/
/.ctsystem
/.eclipse/
/.java/
/.swt/
/.webclipse/
/.zshrc.zwc
/.config/alacritty/alacritty.yml.bak
/.config/deepin/
/.config/systemd/
/.p10k.zsh.zwc
/.wine/
/.zcompdump-breakcore-5.9
/.zhistory
/.zshrc.pre-oh-my-zsh
/desktop/
/powerlevel10k/
/.config/spotify/
/.config/tool_state
/.flutter
/.gnupg/
/.mpd/
.ncmpcpp/
/.oh-my-zsh/
/.vim_runtime/
/.vimrc
/.zcompdump-arch-5.9
/.hushlogin
/.zcompdump-arco-5.9
/.zcompdump-arco-5.9.zwc
/.templateengine/
/.nuget/
/.conkyrc
/.dotnet/
/Documents/
/.themes/
