/Downloads/
/MEGA/
/R/
/anaconda3/
/curso_c2_alura/
/curso_progbr/
/jogo-da-memoria/
/jogo-da-velha/
/material_ciencia_de_dados/
/material_inteligencia_artificial/
/project-manga/
/.pki/
/.ssh/
/.vscode/
/.yarn/
/.gnome/
/.ipython/
/.jupyter/
/.local/
/.mozilla/
/.config/qBittorrent/
/.config/rstudio/
/.npm/
/.fltk/
/.bin/
/.conda/
/.cargo/
/.cache/
/.python_history
/.screenrc
/.viminfo
/.wget-hsts
/.xinitrc
/.xsession
/.xsessionrc
/.yarnrc
/.zcompdump-breakcore-5.8.1
/.zsh_history
/.gitconfig
/.gksu.lock
/.gtkrc-2.0
/.lesshst
/.luarc.json
/.notion-enhancer
/.config/systemsettingsrc
/.dmrc
/.face
/.fehbg
/.Rhistory
/.Xauthority
/.Xresources
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bashrc.bak
/.config/.vscode/
/.config/arcolinux-tweak-tool/
/.config/arcologout/
/.config/autostart/
/.config/chromium/
/.config/Code/
/.config/cutefishos/
/.config/dconf/
/.config/discord/
/.config/eog/
/.config/fontconfig/
/.config/font-manager/
/.config/GIMP/
/.config/google-chrome/
/.config/gpick/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/htop/
/.config/kde.org/
/.config/libreoffice/
/.config/lvim/
/.config/menus/
/.config/nitrogen/
/.config/nomacs/
/.config/notion-app-enhanced/
/.config/obs-studio/
/.config/opera/
/.config/pamac/
/.config/paru/
/.config/pipewire/
/.config/plasma-workspace/
/.config/pulse/
/.config/qBittorrent/
/.config/R/
/.config/rofi/
/.config/rstudio/
/.config/RStudio/
/.config/sublime-text/
/.config/Thunar/
/.config/vlc/
/.config/volumeicon/
/.config/xfce4/
/.config/yarn/
/.config/yay/
/.config/kactivitymanagerdrc
/.config/kglobalshortcutsrc
/.config/kwinrc
/.config/mimeapps.list
/.config/pavucontrol.ini
/.config/QtProject.conf
/.config/systemsettingsrc
/.config/user-dirs.dirs
/.config/yad.conf
/.config/BraveSoftware/
/.config/terminology/
/.elementary/
/.steam/
/.steampath
/.steampid