@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('Ubuntu-Regular.ttf')
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('Ubuntu-Medium.ttf')
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    src: url('Ubuntu-Bold.ttf')
}

/* Main */
html, body {
    width: 370px;
    background: #7880AD !important;
}

h1, h2, h3, h4, label, p, h5 {
    color: #AEAEAE;
}

header {
    padding: 9px 16px;
    height: 60px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff2e;
    background: #ffffff;

}

#pick {
    float: right;
    width: 82px;
    height: 35px;
    border-radius: 20px;
    background: #FF0099;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pick:hover {
    background: #d40080 !important;
}

#pick:active {
    background: #e6008a !important;
}

#pick h1 {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    margin-right: 5px;
}

.recent-box {
    padding: 20px 16px;
    width: 100%;
}

.recent title {
    font-family: "Ubuntu";
    font-size: 14px;
    color: #57585D;
}

.rec-col {
    width: 32px;
    height: 26px;
    border: 2px solid #EEEEEE;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    background: #9e9e9e;
    border-radius: 35%;
    cursor: pointer;
    border-top-right-radius: 2px;
}

.recent-colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.color-picker {
    padding: 20px 16px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.selector {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
}

.selector div {
    cursor: pointer;
    font-size: 21px;
}

/* #colorType {
    width: 45%;
    text-align: center;
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent !important;
    color: #888888 !important;
} */

select, select option {
    font-family: "Ubuntu" !important;
    font-size: 14px !important;
    color: #57585D !important;
}

#colorPicker {
    height: 190px;
}

.color-data {
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-color {
    width: 32px;
    height: 26px;
    border: 2px solid #EEEEEE;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    background: #9e9e9e;
    border-radius: 35%;
    border-top-right-radius: 2px;
}

.color-value input {
    cursor: pointer;
    text-align: center;
    width: 265px;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #6C6C6C;
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    flex-direction: column;
    margin-right: 5px;
}

.arrows div {
    cursor: pointer;
    color: #888888;
    height: 100%;
}

#colType {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 16px;
    color: #888888;
    margin-bottom: 0;
}

.color-type-container {
    text-align: center;
    width: 100%;
    margin: 0 10px;
}

#pick-message {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 16px;
    color: #AEAEAE;
    margin-top: 5px;
    margin-bottom: 0;
}


a:hover {
    color: #888888 !important;
}

a {
    padding-top: 0 !important;
    padding-bottom: 1.7rem !important;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.title {
    color: white;
    font-family: "Ubuntu";
    font-size: 14px;
}

.normal {
    color: white !important;
    font-size: 21px;
    text-align: center;
    margin-bottom: 0;
}

.selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}